/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: auto;
}

.debug {
    content: "";
    display: table;
    clear: both;
}



/* corpo pagina */

/* row 1 */


.dress {
    float: left;
    width: calc(100% / 3);
    position: relative; 
    
}
img {
    margin: 20px 10px 50px 0;
}

.info {
    float: left;
    position: absolute;
    left: 15px;
    bottom: 0;
}
/* colorazione info */

.brand {
    color: gray;
}

.product {
    font-size: 15px;
}

.newprice {
    color: red;
}

.oldprice {
    text-decoration:line-through;
}







.dress img {
    width: 90%;
}

.like {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 30px;
    padding: 3%;
    background-color: white;
}



.discount {
    position: absolute;
    left:0;
    bottom: 20%;
    background-color: red;
    color: white;
    padding: 1%;
}

.green {
    position: absolute;
    left:60px;
    bottom: 20%;
    background-color: green;
    color: white;
    padding: 1%;
}